APP_ENV=
APP_NAME=

DATABASE_URL=
DB_ECHO=

BETTER_STACK_TOKEN=
BETTER_STACK_URL=

SENTRY_DNS=

JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_TIME_MINUTES=
REFRESH_TOKEN_TIME_MINUTES=

REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=
REDIS_DATABASE=
